<%= simple_form_for :comment do |form| %>
  <div class="control">
    <%= form.full_error :token %>
    <%= form.input :content, label: false, placeholder: "Leave a comment.", wrapper_html: { class: "input is-rounded is-medium" } %>
  </div>
  <div class="control">
    <%= form.button :submit %>
  </div>
<% end %>
