<p id="notice"><%= notice %></p>
<div class="columns is-centered">
  <div class="column" id="user-profile-card">
  
  </div>
  <div class="column" id="posts-column">
    <div class="container">
      
      <div class="card">
        <%= render 'form', post: @new_post %>
  
      </div>
    </div>
    <div class="container">
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-content">
            <p>
              <%= post.content %>
            </p>  
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
